<a href="https://colab.research.google.com/github/RaHuL-J31/Python-For-DS-and-ML/blob/master/01_PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tutorial

Basic Operations in Python
ctel + enter to run cell
alt + enter to run and add cell
ctrl + alt + t to add text field

In [ ]:
#Print Function
print ('Hello World')

Hello World

In [ ]:
#numbers
print(1 + 1)
print(1 * 8)
print (1 / 2)

2
8
0.5

In [ ]:
print(6 % 2)
print(9 % 2)

0
1

In [ ]:
x = 2
y = 4
x + y

6

In [ ]:
type(x)
type(7.9)

float

In [ ]:
name = "rahul"
age = 23

In [ ]:
name

'rahul'

In [ ]:
print(name)

rahul

In [ ]:
print ('My name is {} and my age is {}'.format(name,age))

print('My name is {one} and my age is {two} and I can reuse {one} and {two}'.format(one =name,two =age))

My name is rahul and my age is 23
My name is rahul and my age is 23 and I can reuse rahul and 23

In [ ]:
#Slice
s = "asdfghjkl"
print (s[1:]) #everything except 0
print (s[:5]) #everything till 4
print (s[2:6]) #[inclue : exclude]

sdfghjkl
asdfg
dfgh

In [ ]:
#Lists
myList = ['a','b','c','d','e']
print(myList[0])
print(myList[0:2])
myList.append('z')
print(myList)
myList[0] = 'new'
print(myList)

a
['a', 'b']
['a', 'b', 'c', 'd', 'e', 'z']
['new', 'b', 'c', 'd', 'e', 'z']

In [ ]:
#nest of list []
nest = [1,2,["rahul",'jeevan']]
print(nest[2][1])

nest1 = [1,2,["rahul",'jeevan',[18,22]]]
print(nest1[2][2][0])

jeevan
18

In [ ]:
#Dictionary
d = {'key1':'value1','key2':'value2','key3':22}

d2 = {'key1':'value1','key2':'value2','key3':[1,2,3]}
print(d2['key3'][1])

2

In [ ]:
#nested Dictionary {k:v}
dnest = {'k1':'v1','k2':{'kk1':1,'kk2':2}}
dnest['k2']['kk2']

2

In [ ]:
#boolean 
True
False

False

In [ ]:
#tuple - Non Mutable ()
t = (1,2,3,1)
t

(1, 2, 3, 1)

In [ ]:
#sets - unique element {}
set([1,2,3,4,4,2,3])
# will give op as {1, 2, 3, 4}

s = {1,2,3,3}
print(s)

s.add(2)
print(s)

{1, 2, 3}
{1, 2, 3}

In [ ]:
#Comparission operator
# > < >= <= == !=

#logic operator
# amd or

In [ ]:
if True:
  print ('yes')

if False:
  print ('yes')
elif True:
  print ('nah')
else:
  print('no')

if False:
  print ('yes')
elif False:
  print ('nah')
else:
  print('no')

yes
nah
no

In [ ]:
for i in [1,2,3,4,5]:
  print (i)

1
2
3
4
5

In [ ]:
i = 0
while i<5:
  print (i)
  i = i + 1

0
1
2
3
4

In [ ]:
x = [1,2,3,4]
y = []
for i in x:
  y.append(i**2)
print(y)

#above same code can be converted to below using list comprehension
[i**2 for i in x]

[1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
#Function def

def name(s):
  print('Hello ' + s)
name("rahul")

def age(s=18):
  print(s)
age()
age(33)

Hello rahul
18
33

In [ ]:
#map function
def time2(var):
  return var*2

a = [1,2,3,4]
for i in a:
  print(time2(i))

# you can use same in MAP
print(list(map(time2,a)))

#using lamda expression
list(map(lambda var: var*3,a))

2
4
6
8
[2, 4, 6, 8]

[3, 6, 9, 12]

In [ ]:
#filter function
lis = [1,2,3,4,5,6,7,8,9]
list (filter(lambda var : var % 2 == 0,lis))

[2, 4, 6, 8]

In [ ]:
#tuple unpacking
tup = [(1,2),(3,4),(5,6)]
for a,b in tup:
  print(a)

1
3
5

In [ ]:
# List Comprehension
fh = [z for z in ['rahul','jeevan','Radhika','game'] if z[0] == 'r' or z[0] == 'R']
print(fh)

newlist = [x for x in range(10)]

newlist1 = [x for x in range(10) if x % 2 == 0]

['rahul', 'Radhika']

In [ ]:
#EVAL is used to print python statement

ko = 'print("hello")'
eval(ko)

hello

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
print(hash((1,2)))

3713081631934410656

In [ ]:
def swap_case(s):
    st = ""
    for i in range(len(s)):
        if s[i].islower():
            st += s[i].upper()
        else:
            st += s[i].lower()
    return st
swap_case("My Name Is RaHuL")

'mY nAME iS rAhUl'

In [ ]:
str21 = "abcdef"
str22 = list(str21)
str22[2] = 'z'
print(''.join(str22))

abzdef

In [ ]:
#Substring 
a= "jkhabchjkhabc"
b = "abc"
for i in range(len(a)):
  if a[i:].startswith(b):
    print("ll")

ll
ll

In [ ]:
#any function
s = "a!A"
print(any(c.isalnum() for c in s))
print(any(c.isalpha() for c in s))
print(any(c.isdigit() for c in s))
print(any(c.islower() for c in s))
print(any(c.isupper() for c in s))

True
True
False
True
True

In [ ]:
 width = 20
 print ('HackerRank'.ljust(width,'-'))
 print ('HackerRank'.center(width,'-'))
 print ('HackerRank'.rjust(width,'-'))

HackerRank----------
-----HackerRank-----
----------HackerRank